* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'STKaiti';
}

ul {
	list-style: none;
}

#box {
	width: 441px;
	height: 627px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

.wrap {
	width: 441px;
	height: 627px;
	background: #272c3d;
	box-shadow: 5px 5px 12px #000;
	color: #fff;
	padding: 35px 34px 46px 30px;
	box-sizing: border-box;
}

.big-time {
	font-size: 26px;
	padding-bottom: 28px;
}

.small-time {
	color: #448fff;
	padding-bottom: 20px;
}

.date {
	height: 16px;
	padding-bottom: 10px;
}

.date .left {
	float: left;
}

.date .right {
	float: right;
}

.date .right span {
	cursor: pointer;
}

.wrap .list {
	width: 365px;
	height: 61px;
}

.wrap .list li {
	width: 52px;
	height: 61px;
	text-align: center;
	line-height: 61px;
	float: left;
	box-sizing: border-box;
}

.wrap .num {
	width: 365px;
	height: 420px;
}

.wrap .num li {
	width: 52px;
	height: 61px;
	text-align: center;
	line-height: 61px;
	float: left;
	box-sizing: border-box;
}

.gray {
	color: #77776d;
}

.active {
	background: #ff6600;
	border: 1px solid #fff;
}